* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.load-page {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    justify-content: center;
    height: inherit;
    cursor: none;
}

.logo {
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
}

.logo__video {
    margin-top: 10vh;
    justify-self: center;
    width: 200px;
    max-width: 20vw;
    margin-left: 5vw;
    filter: invert(100%);
}

.timer {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 10vw;
    transition: 0.1s width ease-in-out;
}

.progress {
    grid-column: 1/4;
    grid-row: 1;
    width: 0;
    background-color: rgb(22, 22, 22);
    height: 2vh;
    align-self: flex-end;

}

.progress.start {
    width: 100vw;
    transition: 10s width ease-in;
}